@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-secondary {
    @apply rounded-xl border border-accent-1 px-4 py-2 text-accent-1;
  }
}

@layer utilities {
  body::before,
  body::after {
    position: fixed;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 40%;
  }

  body::before {
    background: #0d0409;
    filter: url(#grainyTexture);
  }
}
